.hyperpixel .widget-clock h1 {
  font-size: 34px;
}

.hyperpixel .widget-clock h2 {
  font-size: 26px;
}

.hyperpixel .icon-background {
  margin-top: 0;
  font-size: 240px;
}

.hyperpixel .widget-number h2 {
  font-size: 32px;
}

.hyperpixel .widget-meter h1 {
  font-size: 24px;
}
